<title>Messenger</title>
<div class="header">
    <!--NAVIGATION BAR-->
    <nav class='navbar' style=" background-color: #FFFF; position: fixed; overflow: hidden; top: 0; width: 100%; ">   
      <!--MESSANGER LOGO-->   
      <div class="navbar-brand text-white">
        <a routerLink="/">
        <img src="assets/img/messenger.png" width="40px" style="margin-left: 10em;"/>      
      </a>
       </div>
      <!--LINKS ON NAVBAR-->
      <div class='Menu' style=" width: 60%; font-size: 12px;  color:black">
        <a>Features</a> 
        <a>Desktop App</a> 
        <a>Privacy & Safety</a>
        <a>For Developers</a>
      </div>
    </nav>
  </div>
  
  <!--BODY-->
  <div class="body" style="background-color: #A51E8A; display: flex;">  
        <div class="leftSide " style="float: left; width: 50%; overflow: hidden; padding: 10%;  font-weight: bold;">
            <!--TITLE-->
            <div class="sideTitle">
              <h1 style="font-size:70px; font-family: Montserrat !important; font-weight: bold; color: #ffffff;">
                  Wang out
                  anytime,
                  anywhere
              </h1>
            </div>
                <!--MESSAGE-->
                <div class="message">
                  <h2 style="font-size: 16.5px; margin-top:5%; color: #24deb2;">Messenger makes it easy and fun to stay close to your favorite people.</h2>
                </div>
                <!--INPUT BOXES-->
                <div class="sideInput" style="width: 70%; margin:2%; margin-top: 10%; ">
                  <input class="form-control" placeholder="Email or phone number" style="background-color:#F5F5F5; border-style: none;">
                  <input class="form-control" placeholder="Password" style="margin-top:2%; background-color:#F5F5F5; border-style: none; ">
                </div>
                <!--LOGIN BUTTON-->
                <div class="Login" style="display:inline-block; width: 70%;margin-top: 10px;">    
                  <a a routerLink="/messenger"  routerLinkActive="active" ariaCurrentWhenActive="page" style="background-color:#24deb2; color:white; padding: 4%;  font-size: 19px; text-decoration: none; margin: 10px; " class="rounded-pill">Login</a>
                  <a href="#" class="link-primary" style="width: 50%;  margin-left: 10%; font-weight: bold; font-size: 13px;">Forgot your password?</a>
                </div>
                <!--CHECKBOX-->
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" style="margin-top:5%;">
                  <label class="form-check-label" for="check1" style="margin-top:4%; font-size: 13px; color: white;">Keep me signed in</label><br>
                  <img class="img-responsive" src="assets/img/AppStore.svg" width="25%" style="margin-top: 5%;">
                  <img class="img-responsive" src="assets/img/Mircrosoft.svg" width="25%" style="margin-top: 5%; margin-left: 1em;">
                </div>
        </div>
  
        <div class="rightSide" style="float:right; width: 50%; ">
          <img src="assets/img/sideImg.png" width="100%"  style="display: block;
          margin-left: auto;
          margin-right: auto; padding: 20%; "/>
        </div> 
  </div>
  
  
      <div class="footer" style="margin:auto; display:flex; ">
        <p style="font-weight:bold; font-size:13px">© Meta 2022.</p>
        <p style="font-size:13px; margin-left: 5px;"> The Apple and Google Play logos are trademarks of their respective owners.</p>
        <p style="font-size:14px; margin-left: 40px;">Privacy Policy</p>
        <p style="font-size:14px; margin-left: 40px;">Cookie Policy</p>
        <p style="font-size:14px; margin-left: 40px;">Terms</p>
        <p style="font-size:14px; margin-left: 8%;">English (US)</p>
        <p style="font-size:14px; margin-left: 10%; color: gray;">from </p>
        <p style="font-size:14px; margin-left: 10px; font-weight: bold;
        font-size: 18px;
        background: -webkit-linear-gradient(45deg,blue, violet,red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;"> FACEBOOK</p>
      </div>
      
      
  
  
  